.mainWrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.secondWrap {
    display: flex;
    flex-direction: row;
    height: 93vh;
}

.editorIconsBar {
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgba(0, 129, 112, 0.35);
}

.leftIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editorIcons {
    margin: 8px 15px;
}

.lighDarkModeIcon,
.usersIcon,
.messageIcon,
.playIcon {
    font-size: 1.5rem;
    color: var(--light-grey);
}

.codeFileIcon {
    font-size: 1.8rem;
    color: var(--light-grey);
}


.lighDarkModeIcon:hover,
.usersIcon:hover,
.messageIcon:hover,
.codeFileIcon:hover,
.playIcon:hover {
    opacity: 0.7;
}

.sideBar {
    background-color: rgba(7, 49, 51, 0.5);
    padding: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sideInner {
    width: 100%;
}

.logo {
    border-bottom: 1px solid rgba(110, 204, 171, 0.5);
}

.editorName {
    margin: 0;
    color: var(--base-color2);
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    padding: 10px 10px 20px 10px;
}

.sideButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyBtn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: var(--base-color2);
}

.leaveBtn {
    width: 100%;
    background-color: var(--base-orange);
}

.clientList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-grey);
}

.userName {
    margin-top: 6px;
}

.editorWrap {
    width: 100%;
}